body{
	background-color: #888888;
}
.navbar {
	font-size:25px;
	color:#FFFFFF;
}

.container{
	margin-top: 10%;
}

.navbar li{
	padding-left:4%;
}

.logo img{
	width:200px;
}

.user-img img{
	width:50px;
}
/*
.box{
background-color:  #D3D3D3;	
}
*/
.index-img img{
	width: 100%;
	-webkit-box-shadow: 1px 4px 26px 20px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 4px 26px 20px rgba(0,0,0,0.75);
	box-shadow: 1px 4px 26px 20px rgba(0,0,0,0.75);
}